# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore files generated during development
node_modules/
npm-debug.log
yarn-error.log

# Ignore compiled or minified files
*.min.css
*.min.js

# Ignore any files or directories specific to your development environment
.vscode/
.idea/
