@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --primary-colork: #00292b;
    --primary-color-dark: #001111;
    --secondary-color: #c58255;
    --white:#ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(
        to right, 
        var(-primary-color-dark), 
        var(--primary-color));
}

nav{
    position:absolute;
    width: 100%;
    max-width: 1200px;
    min-height: 85px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.link a{
    padding: 1 rem;
    padding-top: 2rem;
    color: var(-white);
    transition: 0.3s;
    text-decoration: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0;
}
.link a:hover{
    background-color: var(--secondary-color);
    padding-top:0.2rem;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.container_left{
    flex: 1;
    background-image: url("kilarov-zaneit-iXIoIOFrQ-g-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left_content{
    margin: 5rem 3rem 0 auto ;
    padding: 1rem;
    max-width: 400px;
    text-align: right;
}
.left_content.h1{
    
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(-secondary-color);
}
.left_content p{
    color: var(rgb(177, 61, 61));
    font-size: medium;
}

.container_right{
    flex:1.5;
    
    background-position: center center;
    background-image: url(photo-1502791451862-7bd8c1df43a7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container_right img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 450px;
}
.right_content{
    text-align: right;
    max-width: 600px;
    margin-left: 15rem;
    margin-top: 3rem;
    padding:2rem;
    color: var(--white);
    position: relative;
 

}
.right_content.h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: black;
    
}
.right_content.h4{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}
.right_content.p{
    margin-bottom: 2rem;
    color: var(--white);
    
}

.btns{
    margin-bottom: 2rem;
    margin-top:400px;
    min-width: 200px;
    padding: 75rem 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}
.primary_btn{
    margin-right: 1rem ;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 70px;
    height: 30px;
}
.secondary_btn{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 70px;
    height: 30px;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

.social-link {
    text-decoration: none;
    color: #14a58d;
}

.social-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.social-link:hover .social-icon {
    color: var(--secondary-color);
   
}


.footer {
    background-color: #001111;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details p {
    margin: 5px;
}

.contact-details a {
    color: #c58255;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}
